<a href="https://colab.research.google.com/github/Bea2020-Mant/WCML-BEA/blob/master/Introduction_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

En este cuaderno veremos la lista de procesos básicos que se realizan en un proyecto de Machine Learning.
## Loading Data
En esta sección importaremos todos los paquetes necesarios y cargaremos los conjuntos de datos en los que planeamos trabajar. Utilizaremos el
<a href='https://github.com/WomenWhoCode/WWCodeDataScience/blob/master/Intro_to_MachineLearning/data/PlayGolf.csv'> Play Golf data </a>.

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
# Nota: el enlace al archivo sin formato se debe utilizar a continuación
playgolf = pd.read_csv("https://raw.githubusercontent.com/WomenWhoCode/WWCodeDataScience/master/Intro_to_MachineLearning/data/PlayGolf.csv")
playgolf

     outlook temperature humidity  windy play
0   overcast        cool   normal   True  yes
1   overcast         hot     high  False  yes
2   overcast         hot   normal  False  yes
3   overcast        mild     high   True  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6      rainy        mild     high  False  yes
7      rainy        mild     high   True   no
8      rainy        mild   normal  False  yes
9      sunny        cool   normal  False  yes
10     sunny         hot     high  False   no
11     sunny         hot     high   True   no
12     sunny        mild     high  False   no
13     sunny        mild   normal   True  yes

Antes de analizar los datos, es importante reservar algunos datos para probar su modelo. No está permitido echar un vistazo a estos datos para comprender su distribución.

In [5]:
y = playgolf["play"] #target response
X = playgolf.drop(["play"], axis=1) #example data/ input features

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
print("Train-Test split complete!")
print("- X_train = " + str(X_train.shape) + " | " + str(X_train.columns.tolist()))
print("- y_train = " + str(y_train.shape))
print("- X_test = " + str(X_test.shape) + " | " + str(X_test.columns.tolist()))
print("- y_test = " + str(y_test.shape))

Train-Test split complete!
- X_train = (11, 4) | ['outlook', 'temperature', 'humidity', 'windy']
- y_train = (11,)
- X_test = (3, 4) | ['outlook', 'temperature', 'humidity', 'windy']
- y_test = (3,)

Solo se nos permite analizar los datos de ** _ train **.

In [ ]:
X_train

     outlook temperature humidity  windy
12     sunny        mild     high  False
5      rainy        cool   normal   True
8      rainy        mild   normal  False
2   overcast         hot   normal  False
1   overcast         hot     high  False
13     sunny        mild   normal   True
4      rainy        cool   normal  False
7      rainy        mild     high   True
10     sunny         hot     high  False
3   overcast        mild     high   True
6      rainy        mild     high  False

In [ ]:
y_train

12     no
5      no
8     yes
2     yes
1     yes
13    yes
4     yes
7      no
10     no
3     yes
6     yes
Name: play, dtype: object

In [ ]:
train = X_train.copy()
train["play"] = y_train
train

     outlook temperature humidity  windy play
12     sunny        mild     high  False   no
5      rainy        cool   normal   True   no
8      rainy        mild   normal  False  yes
2   overcast         hot   normal  False  yes
1   overcast         hot     high  False  yes
13     sunny        mild   normal   True  yes
4      rainy        cool   normal  False  yes
7      rainy        mild     high   True   no
10     sunny         hot     high  False   no
3   overcast        mild     high   True  yes
6      rainy        mild     high  False  yes